# Gradle
.gradle/
build/

# Firebase secrets
firebase/serviceAccountKey.json

# IDE files
*.idea/
*.iml

# macOS
*.DS_Store

# Logs
*.log

# Environment variables
.env
serviceAccountKey.json
backend/src/main/resources/application-dev.yml
backend/uploads/products/*
